body{
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-areas: 
	"header header header"
	"nav article ads"
	"footer footer footer";
	grid-template-rows: 100px 1fr 70px;
	grid-template-columns: 20% 60% 20%;
	text-align: center;
	height: 100vh;
}
#header{
	grid-area: header;
}
#nav{
	grid-area: nav;
}
#article{
	grid-area: article;
}
#ads{
	grid-area: ads;
}
#footer{
	grid-area: footer;
}
.border{
	border: solid green 2px;
}